
<!--<h1>hi</h1>-->
<!--<div class="col-sm-6">-->
<!--    <img src='../public/images/Aaron.jpg' alt="image of Aaron" width="500">-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <h1>Meet Aaron!</h1>-->
<!--    <p>I’m a rising Junior majoring in COSI and ECON. I’m also on the track and XC team, and I’m a tour guide!</p>-->
<!--    <a href ="/about.html"> <span class="button"><- Go back</span> </a>-->
<!--</div>-->

<!--<div class="col-sm-6">-->
<!--    <img src='../public/images/Ben.jpg' alt="image of Ben" width="500">-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <h1>Meet Ben!</h1>-->
<!--    <p>Hi, I'm Ben Greene! I graduated on Monday and just need to do a few more classes to finish up my degree in 3 years. I'm from CT and will be moving-->
<!--        to St. Louis in the fall. I currently work as an independent HR consultant and public speaker about transgender inclusion.</p>-->
<!--    <a href ="/about.html"> <span class="button"><- Go back</span> </a>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <img src='../public/images/Solomon.jpg' alt="image of Solomon" >-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <h1>Meet Solomon!</h1>-->
<!--    <p>Hello, my name is Solomon Lee. I am a computer science major at Brandeis. I was born and raised in Dallas, Texas. This summer I want to learn more about AWS.</p>-->
<!--    <a href ="/about.html"> <span class="button"><- Go back</span> </a>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <img src='../public/images/Jane.jpg' alt="image of Jane" width="500">-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <h1>Meet Jane!</h1>-->
<!--    <p>Hi all, my name is Jane Wang. I’m a rising junior in Brandeis, major in business and computer-->
<!--        science. I love drawing and photography! …and a fun fact is I’m getting good with cooking-->
<!--        during the quarantine.</p>-->
<!--    <a href ="/about.html"> <span class="button"><- Go back</span> </a>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <img src='../public/images/Leah.jpg' alt="image of Leah" width="500">-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--    <h1>Meet Leah!</h1>-->
<!--    <p>Hi my name is Leah Fernandez and I am a rising junior at Brandeis University. I am from the Philippines and the USA but I live in Singapore. I have three younger siblings and currently 2 dogs, one is an adopted rescue and the other is a foster puppy. I like dance, did Irish dancing basically my entire life until college. I adore traveling, hiking and camping all that sort of stuff.</p>-->
<!--    <a href ="/about.html"> <span class="button"><- Go back</span> </a>-->
<!--</div>-->



<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src='../public/images/Aaron.jpg' alt="Image of Aaron">
        <div class="card-body">
            <h5 class="card-title">Meet Aaron!</h5>
            <p class="card-text">I’m a rising Junior majoring in COSI and ECON. I’m also on the track and XC team, and I’m a tour guide!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../public/images/Ben.jpg" alt="Image of Ben">
        <div class="card-body">
            <h5 class="card-title">Meet Ben!</h5>
            <p class="card-text">Hi, I'm Ben Greene! I graduated on Monday and just need to do a few more classes to finish up my degree in 3 years. I'm from CT and will be moving
                to St. Louis in the fall. I currently work as an independent HR consultant and public speaker about transgender inclusion.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../public/images/Solomon.jpg" alt="Image of Solomon">
        <div class="card-body">
            <h5 class="card-title">Meet Solomon!</h5>
            <p class="card-text">Hello, my name is Solomon Lee. I am a computer science major at Brandeis. I was born and raised in Dallas, Texas. This summer I want to learn more about AWS.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>