<div class="container">
  <div class="col-sm-6" style="float: left;">
    <img src="https://www.ie.edu/insights/wp-content/uploads/2017/06/Networking-la-guinda-de-un-buen-curriculum-o-idea-de-negocio-1542x872.jpg" alt="">
    <!--<p style= "color: white;">add logo this div<p>-->
  </div>
  <div style="font-size: 50px;">
    <p style= "color: white;"> SmartNet is a user friendly networking organizer</p>
    <p style= "color: white;"> <a href="/newContact">Add contact</a> to your Smartnet contact list.</p>
    <p style= "color: white;"> Check the <a href="/about">About</a> page to meet the team!</p>
  </div>
</div>
