<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Smartnet</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/confetti_cuisine.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title"> &ensp; Smartnet</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/newContact">
				<span class="button">Add Contact</span>
			</a>
			<a href="/contact">
				<span class="button">See Contacts</span>
			</a>
			<a href="/contact">
				<span class="button">Contact List</span>
			</a>
			<a href="/contact">
				<span class="button">Calendar</span>
			</a>
			<a href="/contact">
				<span class="button">About</span>
			</a>
		</div>
	</div>

	<%- body %>

</body>

</html>
